/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    /*vertical-align: middle;*/
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: MontserratRegular;
    src: url("../fonts/Montserrat-Regular.ttf");
}


@font-face {
    font-family: MontserratMedium;
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: MontserratExtraBold;
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: LibreBaskervilleItalic;
    src: url("../fonts/LibreBaskerville-Italic.otf");
}

@font-face {
    font-family: RobotoLight;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    font-family: MontserratRegular, sans-serif;
}

/* Fonts */
.libre-baskerville-italic {
    font-family: LibreBaskervilleItalic, sans-serif !important;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .wrapper {
        /*width: 1366px;*/
    }

}

header {
    height: 60px;
    margin-bottom: 40px;
}

header .hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;

}

header .hamburger {
    
}

header .hamburger:focus, header .hamburger:active{
    outline: none !important;
    box-shadow: none;
}

header .hamburger-inner, header .hamburger-inner:after, header .hamburger-inner:before {
    width: 30px;
    height: 3px;
}

header #logo-mobile {
    position: absolute;
    left: 10px;
    top: 6px;
    display: inline-block;
    width: 80px;
    z-index: 10;
}

@media (max-width: 961px) {

    header #logo-mobile {
        width: 59px;
    }

}

header nav {
    z-index: 10;
    position: fixed !important;
    width: 100%;
}

header nav .navbar-collapse {
    text-align: right;
}

@media (max-width: 961px) {

    header nav {
        margin-left: 0;
    }

}

header ul {
    list-style-type: none;
    padding: 0;
    width: 480px;
    margin: 38px 0 32px 154px;
}

header ul li {
    display: inline-block;
    padding-left: 70px;
}

header ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.container {
    margin-bottom: 40px;
}

#project-page #opening-video {
    margin-top: 40px;
}

#project-page .projects {
    margin-bottom: 100px;
}

#project-page .projects .project-button {
    margin-top: 5%;
    cursor: pointer;
}

#project-page .projects .project-button :hover {
}

@media (max-width: 961px) {

    #project-page .projects .project-button a img {
        width: 100%;
        height: 100%;
    }
}

#project-page .projects .projects-wrapper {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 35px;
}

#project-page .project-hover {
    width: 100%;
    height: 100%;
    transition: 1s;
}

#project-page .project-wrap {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

#project-page .project-text-area {
    position: absolute;
    padding-top: 30%;
    width: 100%;
    height: 100%;
    opacity: 0;
    bottom: -50px;
    background-color: rgba(0, 0, 0, 0.7)
}

#project-page .project-text-area a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}

#project-page .project-text-area .title {
    font-size: 22px;
    display: block;
}

#project-page .project-text-area .category {
    display: block;
    font-size: 18px;
}

#project-page .project-wrap:hover .project-text-area {
    opacity: 1;
    bottom: 0;
    transition: 1s;
    letter-spacing: 2px;
    word-spacing: 4px;
    color: #ffffff;
}

#project-page .project-wrap:hover .project-hover {
    transform: scale(1.3);
    transition: 1s;
}

/* About page */

#about .headline {
    margin-bottom: 40px;
}

#about .headline h1 {
    text-align: center;
    font-family: MontserratMedium, sans-serif;
    font-size: 30px;
}

#about .images {
    text-align: right;
}

#about .project-description p {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    font-size: 13.5px;
    line-height: 24px;
    font-family: RobotoLight, sans-serif;
}

@media (max-width: 961px) {

    #about .images {
        text-align: center;
        margin-bottom: 20px;
    }

    #about .project-description p {
    }

    #about .project-description br {
        display: none;
    }
}

/* Contact page*/

#contact .container-contact {
    width: 30%;
    margin:  0 auto 40px;
}

@media (max-width: 961px) {

    #contact .container-contact {
        width: 100%;
        margin: 0 0 40px;
        padding: 10px;
    }
}

#contact h1 {
    font-family: MontserratExtraBold, sans-serif;;
    text-align: center;
    text-decoration: underline;
}

#contact .contact-details .email,  #contact .contact-details .phone {
    display: inline-block;
}

#contact .contact-details .email {
    float: left;
}

#contact .contact-details .phone {
    float: right;
}

#contact .contact-details{
    text-align: center;
    margin-top: 50px;
}

#contact .contact-details span {
    font-size: 14px;
}

#contact .contact-details .divider {
    margin-left: 10px;
    margin-right: 10px;
}

#contact #contact-form  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
}
#contact #contact-form  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
}
#contact #contact-form  :-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
}
#contact #contact-form  :-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
}

#contact #contact-form .submit-button {
    margin-top: 30px;
    background-color: #000000;
    font-size: 15px;
    border: none;
    width: 100px;
    margin-left: calc(100% - 100px);
    font-family: RobotoRegular, sans-serif;
}

#contact #contact-form input[type="text"], #contact #contact-form input[type="tel"],
#contact #contact-form input[type="email"],
#contact #contact-form select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

#contact #contact-form input[type="text"]:focus, #contact #contact-form input[type="text"]:focus,
#contact #contact-form input[type="tel"]:focus, #contact #contact-form input[type="email"]:focus,
#contact #contact-form select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* CV matcher */

#cv-matcher .headline {
    margin-bottom: 20px;
}

#cv-matcher .headline h1 {
    text-align: center;
    font-family: MontserratMedium, sans-serif;
    font-size: 30px;
}

#cv-matcher .headline .decoration {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin: 0 auto;
}

#cv-matcher .project-description {
    margin-bottom: 50px;
}

#cv-matcher .project-description p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
    font-family: RobotoLight, sans-serif;
}

@media (max-width: 961px) {

    #cv-matcher .project-description p {
        width: 80%;
    }

    #cv-matcher .project-description br {
        display: none;
    }
}

#cv-matcher #cv-matcher-video {
    margin: 0 auto;
}

#cv-matcher video {
    display: block;
    margin: 0 auto;
}

#cv-matcher .images {
    margin-bottom: 60px;
}

#cv-matcher .images img {
    margin: 0 auto;
    display: block;
}

/* Lana project */

#lana .headline {
    margin-bottom: 20px;
}

#lana .headline h1 {
    text-align: center;
    font-family: MontserratMedium, sans-serif;
    font-size: 30px;
}

#lana .headline .decoration {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin: 0 auto;
}

#lana .project-description {
    margin-bottom: 50px;
}

#lana .project-description p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
    font-family: RobotoLight, sans-serif;
}

@media (max-width: 961px) {

    #lana .project-description p {
        width: 80%;
    }

    #lana .project-description br {
        display: none;
    }
}

#lana .images {
    margin-bottom: 60px;
}

#lana .images img {
    margin: 0 auto;
    display: block;
}

/* magazine project */

#magazine .headline {
    margin-bottom: 20px;
}

#magazine .headline h1 {
    text-align: center;
    font-family: MontserratMedium, sans-serif;
    font-size: 30px;
}

#magazine .headline .decoration {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin: 0 auto;
}

#magazine .project-description {
    margin-bottom: 50px;
}

#magazine .project-description p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
    font-family: RobotoLight, sans-serif;
}

@media (max-width: 961px) {

    #magazine .project-description p {
        width: 80%;
    }

    #magazine .project-description br {
        display: none;
    }
}

#magazine .images img {
    margin: 0 auto;
    display: block;
}

/* nerds project */

#nerds .headline {
    margin-bottom: 20px;
}

#nerds .headline h1 {
    text-align: center;
    font-family: MontserratMedium, sans-serif;
    font-size: 30px;
}

#nerds .headline .decoration {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin: 0 auto;
}

#nerds .project-description {
    margin-bottom: 50px;
}

#nerds .project-description p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
    font-family: RobotoLight, sans-serif;
}

@media (max-width: 961px) {

    #nerds .project-description p {
        width: 80%;
    }

    #nerds .project-description br {
        display: none;
    }
}

#nerds .images img {
    margin: 0 auto;
    display: block;
}

/* fastlane project */

#fastlane .headline {
    margin-bottom: 20px;
}

#fastlane .headline h1 {
    text-align: center;
    font-family: MontserratMedium, sans-serif;
    font-size: 30px;
}

#fastlane .headline .decoration {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin: 0 auto;
}

#fastlane .project-description {
    margin-bottom: 50px;
}

#fastlane .project-description p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
    font-family: RobotoLight, sans-serif;
}

@media (max-width: 961px) {

    #fastlane .project-description p {
        width: 80%;
    }

    #fastlane .project-description br {
        display: none;
    }
}

#fastlane .images img {
    margin: -6px auto 0;
    display: block;
}

#fastlane .images .pic1 {
    margin-top: 15px;
    margin-bottom: -20%;
}

/* brochure-architect project */

#brochure-architect .headline {
    margin-bottom: 20px;
}

#brochure-architect .headline h1 {
    text-align: center;
    font-family: MontserratMedium, sans-serif;
    font-size: 30px;
}

#brochure-architect .headline .decoration {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin: 0 auto;
}

#brochure-architect .project-description {
    margin-bottom: 50px;
}

#brochure-architect .project-description p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
    font-family: RobotoLight, sans-serif;
}

@media (max-width: 961px) {

    #brochure-architect .project-description p {
        width: 80%;
    }

    #brochure-architect .project-description br {
        display: none;
    }
}

#brochure-architect .images {
    margin-bottom: 60px;
}

#brochure-architect .images img {
    margin: 0 auto;
    display: block;
}

/* fashion project */

#fashion .fashion-container {
    margin-bottom: 60px;
}

#fashion .headline {
    margin-bottom: 20px;
}

#fashion .headline h1 {
    text-align: center;
    font-family: MontserratMedium, sans-serif;
    font-size: 30px;
}

#fashion .headline .decoration {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin: 0 auto;
}

#fashion .project-description {
    margin-bottom: 50px;
}

#fashion .project-description p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
    font-family: RobotoLight, sans-serif;
}

@media (max-width: 961px) {

    #fashion .project-description p {
        width: 80%;
    }

    #fashion .project-description br {
        display: none;
    }
}

#fashion .fashion-container #fashion-video video {
    width: 80%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 961px) {

    #fashion .fashion-container #fashion-video video {
        width: 100%;
    }
}